*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    width:25%;
}
.box-info{

    margin: 50px;
    height: 300px;
    width: 250px;
    background-color: black;
    
}